
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.linea{
    background-color: black;

}

.cuadro{
    width: 100%;
    height: 300px;
}

.cuadro img{
    width: 100%;
    height: 100%;

}

.titulo{
    height: 160px;
    font-size: 3rem;
}

footer{
    background-color: white;
    width: 100%;
    height: 100px;

}

.fondo{
    height: 100%;
    width: 100%;
}

 

#letras{
    color: #fdfeff;
text-decoration: none;
background-color: transparent;
}


.fondo-agua{
    
    height: 700px;
    width: 100%;
}

.header{
   
    height: 900px;
}
.banner-agua{
    height: 300px;
}

.tarjetas{
    height: 620px;
    width: 600px;
}

.tarjetasph{
    height: 500px;
    width: 500px;
}


