.linea{
    background-color: black;
    height: 56px;
    width: 10px;
}

.cuadro{
    width: 100%;
    height: 300px;
}

.cuadro img{
    width: 100%;
    height: 100%;

}

.titulo{
    height: 160px;
    font-size: 3rem;
}

.linea2{
    background-color: black;
    height: 100px;
    width: auto; 
}

.fondo{
    height: 100%;
    width: 100%;
}


