
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.linea{
    background-color: black;

}

.cuadro{
    width: 100%;
    height: 300px;
}

.cuadro img{
    width: 100%;
    height: 100%;

}

.titulo{
    height: 160px;
    font-size: 3rem;
}

footer{
   
    width: 100%;
    height: 50px;

}

.fondo{
    height: 100%;
    width: 100%;
}


#letras{
    color: #fdfeff;
    text-decoration: none;
}

.banner-agua{
    height: 300px;
}


.tarjetas{
    height: 620px;
    width: 600px;
}


#carrusel-tama単o{
    height: 1000px;
}


#agua-tama単o{
    height: 1700px;
}

#index-tama単o{
    height: 800px;
}


#home-tama単o{
    height: 1200px;
}


#footer{
    background-color: black;
    height: 120px;
    width: auto;
    padding-top: 30px
}

.social-icon{
    font-size: 30px;
}